DJANGO_DEBUG=False
DJANGO_SECRET_KEY=pe8^lk*su9ir-5q88y-*)av*g=q77%0c49e$b^c$!bus*pk656
DJANGO_ALLOWED_HOSTS=balagram.onrender.com
CORS_ALLOWED_ORIGINS=https://balagram.onrender.com
CSRF_TRUSTED_ORIGINS=https://balagram.onrender.com
